@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 43 238 108;
        /* #2bee6c */
        --color-background-light: 246 248 246;
        /* #f6f8f6 */
        --color-background-dark: 16 34 22;
        /* #102216 */
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}